<VirtualHost {{ REDIRECT_LISTEN_ADDRESS }}>
    DocumentRoot "{{ APACHE_REDIRECT_DIRECTORY }}"
    ServerName {{ SQUID_HOSTNAME }}
    ErrorLog  /var/log/httpd/80_error_log
    CustomLog /var/log/httpd/80_access_log common
    CustomLog /var/log/httpd/80_referer_log referer
    CustomLog /var/log/httpd/80_agent_log agent
    ServerSignature Off
    Redirect permanent / https://{{ SQUID_HOSTNAME }}/
    RewriteEngine on
    RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
    RewriteRule .* - [F]
    <Directory />
        Options None
        AllowOverride None
        Order allow,deny
        Deny from all
    </Directory>
</VirtualHost>
