SetEnvIf Request_URI "^/([^/]+)" WIKI_NAME=$1

<Directory "{{ MW_DIRECTORY }}/mediawiki*">
  <IfVersion < 2.4>
    Allow from all
  </IfVersion>
  <IfVersion >= 2.4>
    Require all granted
  </IfVersion>
</Directory>
<Directory "{{ MW_INSTANCE_DIRECTORY }}/*/images">
  Require all denied
</Directory>
<Directory "{{ MW_DIRECTORY }}/mediawiki*/images">
  Require all denied
</Directory>
<Directory "{{ MW_DIRECTORY }}/mediawiki*/mw-config">
  Require all denied
</Directory>

Include {{ APACHE_CONF_DIRECTORY }}/optional.conf
Include {{ APACHE_CONF_DIRECTORY }}/http_redirect.conf

{% if (ansible_distribution == 'CentOS' or ansible_distribution == 'RedHat') and ansible_distribution_major_version == '6' %}

Include {{ APACHE_INSTANCE_DIRECTORY }}/*.conf

{% elif (ansible_distribution == 'CentOS' or ansible_distribution == 'RedHat') and ansible_distribution_major_version == '7' %}

IncludeOptional {{ APACHE_INSTANCE_DIRECTORY }}/*.conf

{% endif %}
