<?php

echo '<h2 style="text-align:center;">Welcome to ' . gethostname() . '!</h2>';
$dir = '{{ APACHE_INSTANCE_DIRECTORY }}';
$files = scandir($dir);
if ($files && $files != []) {
	echo '<div align="center" width="100%"><table><tr>';
	$count = 0;
	foreach ($files as $file) {
		$index = stripos($file, '.conf');
		if ($index !== false) {
			$wiki = substr($file, 0, $index);
			$logo = "/$wiki/branding/logo.png";
			echo '<td style="text-align:center;width:150px;padding:10px;">';
			echo '<img src="' . $logo . '" style="width:64px;"><br/>';
			echo '<a href = "/' . $wiki . '" target="_blank">' . $wiki . '</a>';
			echo '</td>';
			$count++;
			if ( $count > 4 ) {
				echo '</tr><tr>';
				$count = 0;
			}
		}
	}
	echo '</tr></table></div>';
}
