[mysqld]
datadir={{ MYSQL_DIRECTORY }}
port={{ MYSQL_PORT }}
socket=/var/lib/mysql/mysql.sock
user=mysql
symbolic-links=0
key_buffer = 32M
query_cache_size = 80M
query_cache_limit = 1M
query_cache_type = 1
default-storage-engine = myisam
max_allowed_packet=100M
net_buffer_length=100K

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
