config:
  SiteName: "{{ WIKI_NAME }}"
  ScriptPath: "/{{ WIKI_NAME }}"
  ResourceBasePath: "/{{ WIKI_NAME }}"
  DBname: {{ WIKI_NAME }}
  Logo: /{{ WIKI_NAME }}/branding/logo.png
  Favicon: /{{ WIKI_NAME }}/branding/favicon.ico
  UploadPath: "/{{ WIKI_NAME }}/img_auth.php"
  UploadDirectory: "/WIKIFARM/MEDIAWIKI/INSTANCES/{{ WIKI_NAME }}/images"
  TmpDirectory: "/WIKIFARM/MEDIAWIKI/INSTANCES/{{ WIKI_NAME }}/images/temp"
