AliasMatch "^/{{ WIKI_NAME }}/branding/(.*)$" {{ MW_INSTANCE_DIRECTORY }}/{{ WIKI_NAME }}/branding/$1
AliasMatch "^/{{ WIKI_NAME }}$" {{ MW_DIRECTORY }}/mediawiki
AliasMatch "^/{{ WIKI_NAME }}/(.*)$" {{ MW_DIRECTORY }}/mediawiki/$1

