<?php

## The protocol and server name to use in fully-qualified URLs
$wgServer = "{{ WIKI_URL }}";

$wgUseSquid = true;
$wgSquidServers = array( '127.0.0.1' );
$wgSquidServersNoPurge = array( '{{ WIKI_IP_ADDRESS }}' );

$wgLocaltimezone = "{{ TIMEZONE }}";
